// app global css in SCSS form

body {
  color: white;
}

.bg-custom {
  background-color: rgb(64, 72, 72);
}

*::-webkit-scrollbar {
  width: 8px;
  height: 12px;
}

*::-webkit-scrollbar-thumb {
  background: rgba($secondary, 0.5);
  border-radius: 10px;
}

*::-webkit-scrollbar-track {
  background: rgba($primary20, 0.5);
}
